@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<ul class="navbar-nav align-items-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" 
                        class="btn btn-outline-danger btn-sm rounded-pill px-3" 
                        onclick="return confirm('Are you sure you want to logout?');" 
                        style="text-decoration:none">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        // hide buttons (login/Register) on their pages 
        var currentPath = Context.Request.Path.Value;

        @if (!currentPath.Contains("/Account/Login") && !currentPath.Contains("/Account/Register"))
        {
            <li class="nav-item me-2">
                <a class="btn btn-outline-primary btn-sm rounded-pill px-4" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-outline-light btn-sm rounded-pill px-4 shadow-sm" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
        }
    }
</ul>